<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About us</title>
    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <!-- custom css -->
    <link rel="stylesheet" href="/static/css/aboutus2.css">
    
</head>

<body>
    <!-- ----------------------------------------------About Neuralife---------------------------------------------------------------- -->
    <div class="company">
        <div class="img">
            <img src="https://raw.githubusercontent.com/pico-india/main-django/main/static/about-team.jpg" alt="" />
        </div>
        <div class="company-info">
            <span>MENTAL HEALTH <span class="our">FOR EVERYONE</span></span>
            <p>
                <b>Neuralife</b> is an India-based open source webapp dedicated for testing depression.
                Neuralife allows
                people to test depression on this webapp, which are then predicted by a machine-learning algorithm. In
                Neuralife we help people to overcome their depression so that they can live in peace.
            </p>
        </div>
    </div>
    <!-- ---------------------------------------------------------------------------------------------------------------------- -->
    <!-- ----------------------------------------------------team information-------------------------------------------------------------- -->
    <div class="team"><span>OUR TEAM</span></div>
    <div class="container">
        <div class="card">
            <div class="card-image loading"><img
                    src="/img/drashti.jpg "
                    alt="" /></div>
            <div class="card-info">
                <h3 class="card-title loading"><span>Drashti<span class="yellow-surname"> khanpara</span></span></h3>
                <p class="card-description loading">
                    <span class="personal-info">
                        <span class="info">Front-End Developer || UI/UX Designer || Graphic Designer || Data Analysis || Bootstrap Developer || React.js Developer <br><br> Basic knowledge - AI , Python,  Cryptography & Network systemAI , Networking <br><br> Designning skills :- Photoshop , Figma , Adobe ILLUSTRATION || <br><br>Digital Marketing skills :- 
                            Social Media Mangment , Video editing</span> <br><br>
                        Pursuing IT Engineering (SSIT Gandhinagar) <br><br>
                        Email:<a href="mailto:khanparadrashti1605@gmail.com">khanparadrashti1605@gmail.com</a>
                    </span>
                </p>
                <!-- <div class="card-mediaIcons">
                    <a href="#" class="loading" target="on_blank"><i class="fab fa-whatsapp"></i></a>
                    <a href="https://www.instagram.com/drashti_.oo4?igsh=aDV0ZHI0anlxbXd6"loading target="on_blank"><i
                            class="fab fa-instagram"></i></a>
                </div> -->
            </div>
        </div>
        <div class="card">
            <div class="card-image loading"><img
                    src="/img/vraj.jpg"
                    alt="" /></div>
            <div class="card-info">
                <h3 class="card-title loading"><span>Vraj<span class="yellow-surname"> Vaghasiya</span></span></h3>
                <p class="card-description loading">
                    <span class="personal-info">
                        <span class="info">Graphic Designer || HTML/JS Developer <br><br>Basic knowledge - AI , Cryptography & Network
                            systemAI , Networking </span> <br><br>
                        Pursuing IT Engineering (SSIT Gandhinagar) <br><br>
                        Email:<a href="mailto:'vrajvaghasiya108@gmail.com'">vrajvaghasiya108@gmail.com</a>
                    </span>
                </p>
                <!-- <div class="card-mediaIcons">
                    <a href="#" class="loading" target="on_blank"><i class="fab fa-whatsapp"></i></a>
                    <a href="https://www.instagram.com/_vrajvaghasiya234_/" class="loading" target="on_blank"><i
                            class="fab fa-instagram"></i></a>
                </div> -->
            </div>
        </div>

        <div class="card">
            <!-- <div class="card-image loading"><img
                    src="/static/img/team pics/WhatsApp Image 2022-09-16 at 1.57.46 PM.jpeg"
                    alt="" /></div> -->
            <div class="card-info">
                <h3 class="card-title loading"><span>Pratham <span class="yellow-surname">Tank</span></span></h3>
                <p class="card-description loading">
                    <span class="personal-info">
                        <span class="info">Front-End Developer || Springboat Developer || MREN Stack developer || <br><br> Basic knowledge - AI , Cryptography & Network systemAI , Networking 
                        </span> <br><br> Pursuing IT Engineering (SSIT Gandhinagar) <br><br>
                        Email: <a href="mailto:'prathamtank1211@gmail.com'">prathamtank1211@gmail.com</a>
                    </span>
                </p>
                <!-- <div class="card-mediaIcons">
                    <a href="#" class="loading" target="on_blank"><i class="fab fa-whatsapp"></i></a>
                    <a href="https://www.instagram.com/neha_7810_/" class="loading" target="on_blank"><i
                            class="fab fa-instagram"></i></a>
                </div> -->
            </div>
        </div>
        <div class="card">
            <!-- <div class="card-image loading"><img
                    src="/static/img/team pics/WhatsApp Image 2022-09-16 at 1.57.20 PM.jpeg"
                    alt="" /></div> -->
            <div class="card-info">
                <h3 class="card-title loading"><span>Rudra<span class="yellow-surname">Prajapati</span></span></h3>
                <p class="card-description loading">
                    <span class="personal-info">
                        <span class="info">Front-End Developer || UI/UX Designer || Cloud Computing || Devops Developer || Java Developer || PHP Developer <br><br> Basic knowledge - AI , Cryptography & Network systemAI , Networking || </span> <br><br>
                        Pursuing IT Engineering (SSIT Gandhinagar) <br><br>
                        Email: <a href="mailto:'rudra1862001@gmail.com'">rudra1862001@gmail.com</a>
                    </span>
                </p>
                <!-- <div class="card-mediaIcons">
                    <a href="#" class="loading" target="on_blank"><i class="fab fa-whatsapp"></i></a>
                    <a href="https://www.instagram.com/shrush_.s1/" class="loading" target="on_blank"><i class="fab fa-instagram"></i></a>
                </div> -->
            </div>
        </div>

        <div class="card">
            <!-- <div class="card-image loading"><img
                    src="/static/img/team pics/WhatsApp Image 2022-09-16 at 1.57.46 PM.jpeg"
                    alt="" /></div> -->
            <div class="card-info">
                <h3 class="card-title loading"><span>Nigam<span class="yellow-surname">Chovatiya</span></span></h3>
                <p class="card-description loading">
                    <span class="personal-info">
                        <span class="info">Front-End Developer || jquery||React.js developer || <br><br> Basic knowledge - AI , Cryptography & Network systemAI , Networking 
                        </span> <br><br>Pursuing IT Engineering (SSIT Gandhinagar) <br><br>
                        Email: <a href="mailto:'nigamchovatiya@gmail.com'">nigamchovatiya@gmail.com
                        </a>
                    </span>
                </p>
                <!-- <div class="card-mediaIcons">
                    <a href="#" class="loading" target="on_blank"><i class="fab fa-whatsapp"></i></a>
                    <a href="https://www.instagram.com/neha_7810_/" class="loading" target="on_blank"><i
                            class="fab fa-instagram"></i></a>
                </div> -->
            </div>
        </div>

       
    </div>
    <!-- <div class="team"><span>OUR GUIDE</span></div>
    <div class="container">
        <div class="card">
            <div class="card-image loading"><img
                    src="/static/img/team pics/heena maan.jpeg"
                    alt="" /></div>
            <div class="card-info">
                <h3 class="card-title loading"><span>Heena <span class="yellow-surname">Panjwani</span></span></h3>
                <p class="card-description loading">
                    <span class="personal-info">
                        <span class="info">ML Expert</span> <br>
                        Prof. Computer Engineering (SSIT Gandhinagar) <br>
                        Email: <a href="mailto:'panjawaniheena067@gmail.com'">panjawaniheena067@gmail.com</a>
                    </span>
                </p>
                <div class="card-mediaIcons">
                    <a href="#" class="loading" target="on_blank"><i class="fab fa-whatsapp"></i></a>
                    <a href="https://www.instagram.com/" class="loading" target="on_blank"><i
                            class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div> -->
    <!-- ----------------------------------------footer section------------------------------------------ -->
    <footer>
        <div class="content">
            <div class="top">
                <div class="logo-details">
                    <span class="logo_name">Neuralife</span>
                </div>
                <!-- <div class="media-icons">
                    <a target="on_blank" href="#"><i class="fab fa-whatsapp"></i></a>
                    <a target="on_blank" href="https://www.instagram.com/https.ayushh/"><i
                            class="fab fa-instagram"></i></a>
                </div> -->
            </div>
            <div class="link-boxes">
                <ul class="box">
                    <li class="link_name">Links</li>
                    <li><a href="/templates/index.html">Home</a></li>
                    <li><a href="/templates/Info.html">About Us</a></li>
                    <li><a href="/templates/index.html">Test Depression</a></li>
                    <li><a href="/templates/contact2.html">Contact Us</a></li>
                </ul>
        </div>

        <div class="bottom-details">
            <div class="bottom_text">
    <span class="copyright_text">Copyright © 2022 <a href="#">Neuralife.</a></span>
            </div>
        </div>
    </footer>
    <!-- ---------------------------------------------------------------------------------------- -->
    <!-- -------------------------------------------------------------------------------------------- -->
<script src="/static/js/aboutus2.js"></script>
</body>
</html>